<section data-ng-controller="GoalsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="goal.name"></h1>
		<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == goal.user._id))">
			<a class="btn btn-primary" data-ui-sref="dashboard.goals.list.edit({goalId: goal._id})"><!-- href="/#!/goals/{{goal._id}}/edit" -->
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-danger" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
		<h5 class="goal-view-header-subtitle">
			<em class="text-muted">
				Posted on
				<span data-ng-bind="goal.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="goal.user.displayName"></span>
			</em>
		</h5>
		<ul class="list-group goal-view">
			<li class="list-group-item">
				<h4 class="list-group-item-heading">Authors</h4>
				<p class="list-group-item-text" data-ng-bind="goal.user.displayName"></p>
			</li>
			<li class="list-group-item">
				<h4 class="list-group-item-heading">Description</h4>
				<p class="list-group-item-text" data-ng-bind="goal.description"></p>
			</li>
			<li class="list-group-item">
				<h4 class="list-group-item-heading">Assumptions</h4>
				<p class="list-group-item-text" data-ng-bind="goal.assumptions"></p>
			</li>
			<li class="list-group-item">
				<h4 class="list-group-item-heading">Objectives</h4>
				<p class="list-group-item-text" data-ng-bind="goal.objectives"></p>
			</li>
			<li class="list-group-item">
				<h4 class="list-group-item-heading">Constraints</h4>
				<p class="list-group-item-text" data-ng-bind="goal.constraints"></p>
			</li>
			<li class="list-group-item">
				<h4 class="list-group-item-heading">Measures</h4>
				<p class="list-group-item-text" data-ng-bind="goal.measures"></p>
			</li>
			<li class="list-group-item">
				<h4 class="list-group-item-heading">Datasets</h4>
				<p class="list-group-item-text" data-ng-bind="goal.datasets"></p>
			</li>
			<li class="list-group-item">
				<h4 class="list-group-item-heading">Models</h4>
				<p class="list-group-item-text" data-ng-bind="goal.models"></p>
			</li>
			<li class="list-group-item">
				<h4 class="list-group-item-heading">Notebooks</h4>
				<p class="list-group-item-text" data-ng-bind="goal.notebooks"></p>
			</li>
			<li class="list-group-item">
				<h4 class="list-group-item-heading">Publications</h4>
				<p class="list-group-item-text" data-ng-bind="goal.publications"></p>
			</li>
			<li class="list-group-item">
				<h4 class="list-group-item-heading">Collaborators</h4>
				<p class="list-group-item-text" data-ng-bind="goal.collaborators"></p>
			</li>
			<li class="list-group-item">
				<h4 class="list-group-item-heading">Last Updated</h4>
				<p class="list-group-item-text" data-ng-bind="goal.updated | date:'mediumDate'"></p>
			</li>
		</ul>
	</div>
</section>
