<section>
  <div class="row">
    <div class="col-xs-12 landing-page">
      <img class="center-block" ng-src="{{ logopath }}" alt="Conflux Logo" />
      <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
          <div class="jumbotron jumbotron-splash">
            <div class="container text-center">
              <h3 class="drop-shadow">A Multi-Criteria Spatial Decision Support System</h3>
              <div class="row">
                <a class="btn btn-primary btn-lg float-left splash-nav" role="button" href="/#!/signup">Sign Up<span class="dashboard-sidemenu-item-icon fa fa-user-plus" aria-hidden="true"></span></a>
                <a class="btn btn-primary btn-lg float-right splash-nav" role="button" href="/#!/signin">Sign In<span class="dashboard-sidemenu-item-icon fa fa-sign-in" aria-hidden="true"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>