<div data-ng-controller="DashboardViewController">
    <!-- <div class="row">
        <div class="dashboard-nav">
            <button class="btn btn-default" type="submit">Button</button>
            <button class="btn btn-default" type="submit">Button</button>
            <button class="btn btn-default" type="submit">Button</button>
            <button class="btn btn-default" type="submit">Button</button>
            <button class="btn btn-default" type="submit">Button</button>
        </div>
    </div> -->
    <div class="row">
        <h1>{{ whoami }}</h1>
    </div>
</div>