<div>
    <div class="row">
        <div class="col-xs-5 col-sm-4 col-md-3 col-lg-2 dashboard-sidebar">
            <div class="row dashboard-sidebar-userinfo">
                <div class="col-xs-3">
                    <div><span class="dashboard-avatar fa fa-3x fa-circle"></span></div>
                </div>
                <div class="col-xs-9 username-greeting">
                    <div>Welcome</div>
                    <div class="dashboard-username">{{ authentication.user.displayName }}</div>
                </div>
            </div>
            <a class="dashboard-sidebar-link" ui-sref="dashboard.main" ng-click="clicked('dashboard')">
                <div class="dashboard-sidemenu-item">
                    <span class="dashboard-sidemenu-item-icon fa fa-2x fa-desktop" aria-hidden="true"></span><!-- fa-home, fa-university , fa-desktop -->
                    <span class="dashboard-sidemenu-item-label">Dashboard</span>
                </div>
            </a>
            <a class="dashboard-sidebar-link" ui-sref="dashboard.formulations.list" ng-click="clicked('formulations')">
                <div class="dashboard-sidemenu-item">
                    <span class="dashboard-sidemenu-item-icon fa fa-2x fa-puzzle-piece" aria-hidden="true"></span><!-- fa-briefcase, fa-puzzle-piece, fa-chain -->
                    <span class="dashboard-sidemenu-item-label">Formulations</span>
                </div>
            </a>
            <a class="dashboard-sidebar-link" ui-sref="dashboard.datasets.list" ng-click="clicked('datasets')">
                <div class="dashboard-sidemenu-item">
                    <span class="dashboard-sidemenu-item-icon fa fa-2x fa-database" aria-hidden="true"></span>
                    <span class="dashboard-sidemenu-item-label">Data Sets</span>
                </div>
            </a>
            <div class="dashboard-sidebar-link"  ng-click="clicked('models')"><!-- ui-sref="dashboard.models.list" -->
                <div class="dashboard-sidemenu-item dashboard-sidemenu-item-disabled">
                    <span class="dashboard-sidemenu-item-icon fa fa-2x fa-cubes" aria-hidden="true"></span>
                    <span class="dashboard-sidemenu-item-label">Models</span>
                </div>
            </div>
            <a class="dashboard-sidebar-link" ui-sref="dashboard.analyze" ng-click="clicked('analyze')">
                <div class="dashboard-sidemenu-item">
                    <span class="dashboard-sidemenu-item-icon fa fa-2x fa-area-chart" aria-hidden="true"></span><!-- fa-bar-chart, fa-line-chart, fa-area-chart -->
                    <span class="dashboard-sidemenu-item-label">Analyze</span>
                </div>
            </a>
            <div class="dashboard-sidebar-link" ng-click="clicked('decisions')"><!-- ui-sref="dashboard.decisions.list" -->
                <div class="dashboard-sidemenu-item dashboard-sidemenu-item-disabled">
                    <span class="dashboard-sidemenu-item-icon fa fa-2x fa-balance-scale" aria-hidden="true"></span>
                    <span class="dashboard-sidemenu-item-label">Decisions</span>
                </div>
            </div>
            <!-- <a class="dashboard-sidebar-link" ui-sref="dashboard.notebooks.list" ng-click="clicked('notebooks')">
                <div class="dashboard-sidemenu-item">
                    <span class="dashboard-sidemenu-item-icon fa fa-2x fa-book" aria-hidden="true"></span>
                    <span class="dashboard-sidemenu-item-label">Notebooks</span>
                </div>
            </a> -->
            <!-- <a class="dashboard-sidebar-link" ui-sref="dashboard.publications.list" ng-click="clicked('publications')">
                <div class="dashboard-sidemenu-item">
                    <span class="dashboard-sidemenu-item-icon fa fa-2x fa-newspaper-o" aria-hidden="true"></span>
                    <span class="dashboard-sidemenu-item-label">Publications</span>
                </div>
            </a> -->
            <a class="dashboard-sidebar-link" ui-sref="dashboard.profile.view" ng-click="clicked('profile')">
                <div class="dashboard-sidemenu-item">
                    <span class="dashboard-sidemenu-item-icon fa fa-2x fa-user" aria-hidden="true"></span>
                    <span class="dashboard-sidemenu-item-label">Profile</span>
                </div>
            </a>
        </div>
        <div class="col-xs-7 col-sm-8 col-md-9 col-lg-10">
            <div class="template-panels" data-ui-view=""></div>
        </div>
    </div>
</div>