.analysis-view {
    margin: 0 1rem 1rem;
}
.datatable {
  margin: 1rem 1rem 0 0;
}
.analysis-data-table {
  /*padding: 1rem 1rem 0;*/
  /*padding: 1rem;*/
  border-top: 5px solid #234 !important;
  border-left: 1px solid #234 !important;
  border-right: 1px solid #234 !important;
  border-bottom: 5px solid #234 !important;
}
/* datatable scrolling */
tr {
width: 100%;
display: inline-table;
}
table{
    padding: 1rem;
    height: 33rem;
}
tbody{
  overflow-y: scroll;
  height: 30rem;
  width: calc(100% - 1.2rem);
  position: absolute;
}
/* data table interacion */
tr:hover, tr.trOdd:hover, tr.trEven:hover {
  background: #eee !important;
  color: #111 !important;
}