.analysis-view {
    /*margin: 0 1rem 1rem;*/
}

.datatable {
  margin: 0.5rem 0.5rem 0 0.3rem;
}
.datatable > table  {
  margin: 0 0 0.5rem 0;
  /*font-size: 0.9rem;*/
}

table {
  height: 22rem; /* 2.5rem larger than tbody; */
}
thead {
  background: #234;
  /*height: 8rem;*/
}
thead > * {
  color: #fff;
}
tbody {
  overflow-y: scroll;
  height: 19.5rem;
}
/* data table interacion */
#datatable > table > tbody > tr:hover {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  background: #fdc !important; /* #df691a */
  color: #000000 !important;
}
tr > th.header {
  background: #234;
  color: #fff;
}
tr > th.header:hover {
  background: #df691a !important;
  color: #000000 !important;
}

tr > td {
  text-align: center;
}

.ng-table-pager {
  z-index: 900;
  height: 0;
  bottom: 0;
  width: 99.6%;
  position: absolute;
}
.ng-table-pager > div.ng-table-counts {
  /*height: 2.5rem;*/
}
.ng-table-pager > div.ng-table-counts > button {
  padding: 0;
  font-size: 1rem;
  color: #999;
  /*max-width: 10rem !important;*/
  height: 3rem; /* 2.5rem; */
}

#datatable > div > div > div > div > button {

}
/*
#datatable > div  div  .ng-table-pager  div  button {
  top: 0;
  padding: 0;
  font-weight: 100;
  font-size: 1rem;
  font-style: normal;
  width: 3rem !important;
  height: 2.5rem;
}
#datatable > div > div > div > div > button > span {
  width: auto !important;
}*/

.pagination > li > a {
  top: -2.1rem;
  /*width: 5rem;*/
  /*height: 2.5rem;*/
}

.pagination > li > a > span {
  padding: 0;
}