/* From MEAN.js codebase */
.undecorated-link:hover {
    text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.ng-invalid.ng-dirty {
    border-color: #FA787E;
}
.ng-valid.ng-dirty {
    border-color: #78FA89;
}


/* Custom CSS for NavBar */
/*.lt-ie9 .navbar {
    background: #000000;
}*/
.navbar {
    background: #000000;
    background: rgba(0,0,0,0);
    border: none;
}
/*.lt-ie9 .navbar:hover {
    background: #111111;
}*/
.navbar:hover {
    background: #111111;
    background: rgba(0,0,0,0.3);
}

a.navbar-brand, ul.nav > li > a {
    color: #FFFFFF;
    color: rgba(255,255,255,1) !important;
}
/*
a.navbar-brand:hover, ul.nav > li > a:hover {
    color: rgba(255,255,255,1) !important;
}
li.dropdown > a.dropdown-toggle, li.dropdown > a.dropdown-menu {
    background: rgba(0,0,0,0.0);
}
li.dropdown.open > a.dropdown-toggle, li.dropdown.open > a.dropdown-menu {
    background: rgba(32,32,32,0.7);
    color: rgba(255,255,255,1) !important;
}
li.dropdown.open > a.dropdown-toggle:hover, li.dropdown.open > a.dropdown-menu:hover {
    background: rgba(32,32,32,0.7);
    color: rgba(255,255,255,1) !important;
}
*/

/* Custom CSS for Home View Partial */
.partial-home {
    height: 200rem;
    /*background: rgba(100,150,200,0.5);*/
}
.hover-menu {
    position: absolute;
    left: 1rem;
    top: 12rem;
}
.context-menu {
    margin-left: 2rem;
    padding: 0.1rem 2rem 0.5rem;
    /*width: 60rem;*/
    /*height: 15rem;*/
    background: #FF9900;
    color: #FFFFFF;
}
.angular-leaflet-map {
    width: 640px;
    height: 480px;
}