.template-panels {
  padding: 1rem 1.5rem 1rem 1rem;
}
.subnavbar {
  margin: 0 2rem 1rem 0;
}
.dashboard-panel {
  margin: 0 0 1rem 0;
}
.subnavbar-nav {
    text-align: center;
}
.subnavbar-nav > button {
    margin: 1rem;
}
.panel-heading h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  width: 75%;
  padding-top: 8px;
}
.clickable {
  cursor: pointer;
}
.dashboard-paneltitle-item-icon {
  padding-right: 1rem;
  color: #112233 !important;
}
.goals-panel {
  margin: 0.25rem;
}
.activity-list, .panel-title {
  color: #111111;
}
.odd {
  background: #112233; color: #EBEBEB !important;
}
.even {
  background: #223344; color: #EBEBEB !important;
}

/* Media Queries */
/* -xs */
@media (max-width: 767px) {
  .subnavbar-nav > button {
        min-width: 98%;
    }
}
/* -sm */
@media (min-width: 768px) {
  .subnavbar-nav > button {
        min-width: 44%;
    }
}
/* -md */
@media (min-width: 992px) {
  .subnavbar-nav > button {
        min-width: 30%;
    }
}
/* -lg */
@media (min-width: 1200px) {
  .subnavbar-nav > button {
        min-width: 14%;
    }
}