<div>
    <div class="row subnavbar">
        <div class="hidden-sm hidden-md">
            <div class="row subnavbar-nav">
                <button class="btn btn-default btn-list" type="button" data-ui-sref="dashboard.formulations.list" ng-click="clicked('dashboard.formulations.list')">List</button>
                <button class="btn btn-default btn-new" type="button" data-ui-sref="dashboard.formulations.load" ng-click="clicked('dashboard.formulations.load')">New</button>
            </div>
        </div>
        <div class="visible-sm visible-md">
            <div class="row subnavbar-nav">
                <button class="btn btn-default btn-list" type="button" data-ui-sref="dashboard.formulations.list" ng-click="clicked('dashboard.formulations.list')">List</button>
                <button class="btn btn-default btn-new" type="button" data-ui-sref="dashboard.formulations.load" ng-click="clicked('dashboard.formulations.load')">New</button>
            </div>
        </div>
    </div>
    <div data-ui-view=""></div>
</div>