<section>
    <div class="row">
        <!-- <h1>Graph View</h1> -->
        <!-- <div id="watermark" class="div-relative data-slide">
            <div class="z-500 row watermark-panels">
                <div class="panel-base" id="panel-pm" ng-show="watermarkSubpanelPM">
                    <div class="watermark-panel-title font-ubuntu-condensed">Identifying Desired Future Conditions (DFCs)</div>
                    <div class="">
                        <div class="z-200 col-md-12">
                            <div id="graph"></div>
                        </div>
                        <div class="z-400 col-md-4">
                            <div id="kzones"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- ng-controller="Droid" -->
        <!-- INHERITED: APPROACH 1. -->
        <!-- <div>
            <p>Location: {{location}}</p>
            <button ng-click="sell('Owen Farm')">Sell</button>
        </div> -->

        <!-- INHERITED: APPROACH 2. -->
        <!-- <button ng-click="summon('Owen Farm')">
            Summon Sandcrawler
        </button> -->

        <!-- EVENTED: APPROACH 1 - EMIT from CHILD. -->
        <!-- <p>Droid Location: {{location}}</p>
        <button ng-click="summon()">Summon Sandcrawler</button> -->

        <!-- EVENTED: APPROACH 2 - BROADCAST from PARENT. -->
        <!-- <p>Droid Location: {{location}}</p> -->

        <!-- EVENTED: APPROACH 3 - SIBLINGS via PARENT. -->
        <h2>R2-D2</h2>
        <p>Droid Location: {{location}}</p>
        <button ng-click="recallAllDroids()">Recall All Droids</button>
    </div>
</section>