<section>
    <div class="row utility-weighting">
        <!-- <h4>Preference Weighting for Attribute Utility Scores</h4> -->
        <div class="col-xs-4">
            <label for="weight">Attr 1</label>
            <input type="range" id="attr_1" min="0" value="10" max="100" step="1">
        </div>
        <div class="col-xs-4">
            <label for="weight">Attr 2</label>
            <input type="range" id="attr_2" min="0" value="10" max="100" step="1">
        </div>
        <div class="col-xs-4">
            <label for="weight">Attr 3</label>
            <input type="range" id="attr_3" min="0" value="10" max="100" step="1">
        </div>
    </div>
    <div class="row">
        <div class="datatable table-responsive analysis-data-table" id="datatable" ng-controller="DatatableViewController">
            <!-- ngTable -->
            <table ng-table="dataTable" class="table table-striped"><!-- show-filter='true'  -->
               <tr ng-repeat="dataitem in data" ng-click="rowClicked(dataitem)" ng-mouseenter="decorateSiblings(dataitem)" ng-mouseleave="clearSiblings(dataitem)"><!-- ng-hide="$first" ng-if="$index > 0"  -->
                   <td data-title="'Run'" sortable="'dataSource'">
                       {{ dataitem[0] }}
                   </td>
                   <td data-title="'Attr 1 Value'" sortable="'attr_1'" >
                       {{ dataitem[1] }}
                   </td>
                   <td data-title="'Attr 1 Sparkline'" >
                       <!-- {{ dataitem[1] }} -->
                   </td>
                   <td data-title="'Attr 1 SUF'" >
                       <!-- {{ dataitem[1] }} -->
                   </td>
                   <td data-title="'Attr 2 Value'" sortable="'attr_2'" >
                       {{ dataitem[5] }}
                   </td>
                   <td data-title="'Attr 2 Sparkline'" >
                       <!-- {{ dataitem[2] }} -->
                   </td>
                   <td data-title="'Attr 2 SUF'" >
                       <!-- {{ dataitem[2] }} -->
                   </td>
                   <td data-title="'Attr 3 Value'" sortable="'attr_3'" >
                       {{ dataitem[7] }}
                   </td>
                   <td data-title="'Attr 3 Sparkline'" >
                       <!-- {{ dataitem[4] }} -->
                   </td>
                   <td data-title="'Attr 3 SUF'" >
                       <!-- {{ dataitem[4] }} -->
                   </td>
                   <td data-title="'Run MUF'" >
                       <!-- {{ dataitem[5] }} -->
                   </td>
               </tr>
            </table>
        </div>
    </div>
</section>
