<section>
    <div class="row">
        <!-- <h1>Graph View</h1> -->
        <div id="watermark" class="div-relative data-slide">
            <div class="z-500 row watermark-panels">
                <div class="panel-base" id="panel-pm" ng-show="watermarkSubpanelPM">
                    <div class="watermark-panel-title font-ubuntu-condensed">Identifying Desired Future Conditions (DFCs)</div>
                    <div class="">
                        <div class="z-200 col-md-12">
                            <div id="graph"></div>
                        </div>
                        <div class="z-400 col-md-4">
                            <div id="kzones"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="z-100 row watermark-footer">
                <div class="watermark-footer-label">Watermark: Barton Springs Case Study</div>
                <div class="div-relative end-link-interactive watermark-link">
                </div>
            </div>
        </div>
    </div>
</section>