<section>
    <div class="row">
        <div class="col-xs-6">
            <div id="watermark" class="div-relative data-slide">
                <div class="z-500 row watermark-panels">
                    <div class="panel-base" id="panel-pm" ng-show="watermarkSubpanelPM">
                        <div class="watermark-panel-title font-ubuntu-condensed">Identifying Desired Future Conditions (DFCs)</div>
                        <div class="">
                            <div class="z-200 col-md-12">
                                <div id="graph"></div>
                            </div>
                            <div class="z-400 col-md-4">
                                <div id="kzones"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="z-100 row watermark-footer">
                    <div class="watermark-footer-label">Watermark: Barton Springs Case Study</div>
                    <div class="div-relative end-link-interactive watermark-link">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <!-- <leaflet-map id="map" class="div-fixed z-100" display-recharge-panel="displayRechargePanel()" display-wells-panel="displayWellsPanel()" display-springs-panel="displaySpringsPanel()"></leaflet-map> -->
            <leaflet-map id="map" class="div-fixed"></leaflet-map>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- DATATABLE -->
            <div class="datatable table-responsive analysis-data-table" id="datatable" ng-controller="DatatableViewController">
                <table class="table table-striped table-condensed table-hover">
                    <thead>
                    <tr>
                        <th ng-repeat="header in headers | filter:headerFilter | orderBy:headerOrder" width="{{header.width}}">{{header.label}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users" ng-class-odd="'trOdd'" ng-class-even="'trEven'" ng-click="rowClicked(user)">
                        <td ng-repeat="(key,val) in user | orderBy:userOrder(key)">{{val}}</td>
                    </tr>
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
            <!-- END DATATABLE -->
        </div>
    </div>
</section>
