<div>
    <!-- <div data-ui-view=""></div> -->
    <div class="col-xs-6">
        <!-- <leaflet-map id="map" class="div-fixed z-100" display-recharge-panel="displayRechargePanel()" display-wells-panel="displayWellsPanel()" display-springs-panel="displaySpringsPanel()"></leaflet-map> -->
        <leaflet-map id="map" class="div-fixed"></leaflet-map>
        <!-- <leaflet width="640px" height="480px"></leaflet> -->
        <!-- <leaflet center="london" markers="markers" url-hash-center="yes" width="640" height="400"></leaflet> -->
        <!-- <leaflet center="london" markers="markers" height="80rem" width="100%"> -->
    </div>
    <div class="col-xs-6">
        <div class="row">
            <h1>GRAPH</h1>
        </div>
        <div class="row">
            <h1>PREFS</h1>
        </div>
    </div>
</div>