<div data-ng-controller="DashboardDefaultViewController">
    <div class="row">
        <!-- Relocate these logs to somewhere less prominent -->
        <!-- <div class="col-xs-4">
            <div id="activity-panel" class="row">
                <div class="well well-sm activity-list">
                    <h3>Recent Activity</h3>
                    <ul>
                        <li ng-repeat="action in currentActivity.actions track by $index">{{ action }}</li>
                    </ul>
                    <button class="btn btn-link pull-right" type="button" ng-click="dashboardTemplate.path = 'modules/core/views/dashboard/dashboard.sixth.client.view.html'">More</button>
                </div>
            </div>
        </div> -->
        <div class="col-xs-6">
            <div id="datasets-panel" class="row">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <a class="clickable" ng-click="selectedTemplate.path = 'modules/core/views/datasets/datasets.client.view.html'"><h3 class="panel-title">My Datasets</h3></a>
                        <!-- Get routed params working for the new button to work. -->
                        <!-- <h3 class="panel-title pull-left"><a class="clickable" ng-click="selectedTemplate.path = 'modules/core/views/datasets/datasets.client.view.html'">My Datasets</a></h3>
                        <button class="btn btn-default pull-right" type="button" ng-click="selectedTemplate.path = 'modules/core/views/datasets/datasets.client.view.html'">New</button>
                        <div class="clearfix"></div> -->
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                          <a href="#" class="list-group-item" ng-repeat="dataset in currentDatasets.datasets track by $index">{{ dataset }}<span class="badge">#</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="goals-panel" class="row">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <a class="clickable" ng-click="selectedTemplate.path = 'modules/core/views/goals/goals.client.view.html'"><h3 class="panel-title">My Goals</h3></a>
                        <!-- Get routed params working for the new button to work. -->
                        <!-- <h3 class="panel-title pull-left"><a class="clickable" ng-click="selectedTemplate.path = 'modules/core/views/goals/goals.client.view.html'">My Goals</a></h3>
                        <button class="btn btn-default pull-right" type="button" ng-click="selectedTemplate.path = 'modules/goals/views/create-goal.client.view.html'">New</button>
                        <div class="clearfix"></div> -->
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                          <a href="#" class="list-group-item" ng-repeat="goal in currentGoals.goals track by $index">{{ goal }}<span class="badge">#</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="notebooks-panel" class="row">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <a class="clickable" ng-click="selectedTemplate.path = 'modules/core/views/notebooks/notebooks.client.view.html'"><h3 class="panel-title">My Notebooks</h3></a>
                        <!-- Get routed params working for the new button to work. -->
                        <!-- <h3 class="panel-title pull-left"><a class="clickable" ng-click="selectedTemplate.path = 'modules/core/views/notebooks/notebooks.client.view.html'">My Notebooks</a></h3>
                        <button class="btn btn-default pull-right" type="button" ng-click="selectedTemplate.path = 'modules/notebooks/views/create-notebook.client.view.html'">New</button>
                        <div class="clearfix"></div> -->
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                          <a href="#" class="list-group-item" ng-repeat="notebook in currentNotebooks.notebooks track by $index">{{ notebook }}<span class="badge">#</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div id="models-panel" class="row">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <a class="clickable" ng-click="selectedTemplate.path = 'modules/core/views/models/models.client.view.html'"><h3 class="panel-title">My Models</h3></a>
                        <!-- Get routed params working for the new button to work. -->
                        <!-- <h3 class="panel-title pull-left"><a class="clickable" ng-click="selectedTemplate.path = 'modules/core/views/models/models.client.view.html'">My Models</a></h3>
                        <button class="btn btn-default pull-right" type="button" ng-click="selectedTemplate.path = 'modules/models/views/create-model.client.view.html'">New</button>
                        <div class="clearfix"></div> -->
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                          <a href="#" class="list-group-item" ng-repeat="model in currentModels.models track by $index">{{ model }}<span class="badge">#</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="decisions-panel" class="row">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <a class="clickable" ng-click="selectedTemplate.path = 'modules/core/views/decisions/decisions.client.view.html'"><h3 class="panel-title">My Decisions</h3></a>
                        <!-- Get routed params working for the new button to work. -->
                        <!-- <h3 class="panel-title pull-left"><a class="clickable" ng-click="selectedTemplate.path = 'modules/core/views/decisions/decisions.client.view.html'">My Decisions</a></h3>
                        <button class="btn btn-default pull-right" type="button" ng-click="selectedTemplate.path = 'modules/decisions/views/create-decision.client.view.html'">New</button>
                        <div class="clearfix"></div> -->
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                          <a href="#" class="list-group-item" ng-repeat="decision in currentDecisions.decisions track by $index">{{ decision }}<span class="badge">#</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="publications-panel" class="row">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <a class="clickable" ng-click="selectedTemplate.path = 'modules/core/views/publications/publications.client.view.html'"><h3 class="panel-title">My Publications</h3></a>
                        <!-- Get routed params working for the new button to work. -->
                        <!-- <h3 class="panel-title pull-left"><a class="clickable" ng-click="selectedTemplate.path = 'modules/core/views/publications/publications.client.view.html'">My Publications</a></h3>
                        <button class="btn btn-default pull-right" type="button" ng-click="selectedTemplate.path = 'modules/publications/views/create-publication.client.view.html'">New</button>
                        <div class="clearfix"></div> -->
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                          <a href="#" class="list-group-item" ng-repeat="publication in currentPublications.publications track by $index">{{ publication }}<span class="badge">#</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>