<div class="row">
    <div class="col-xs-6">
        <div class="row dashboard-panel" data-ng-controller="DatasetsController" data-ng-init="find()">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="clickable" data-ui-sref="dashboard.datasets.list">
                        <h3 class="panel-title"><span class="dashboard-paneltitle-item-icon fa fa-2x fa-database" aria-hidden="true"></span> My Datasets</h3>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a data-ng-repeat="dataset in datasets | limitTo:3" ng-class-odd="'odd'" ng-class-even="'even'" data-ui-sref="dashboard.datasets.list.details({datasetId: dataset._id})" class="list-group-item">
                            <small class="list-group-item-text">
                                Posted on <span data-ng-bind="dataset.created | date:'medium'"></span> by <span data-ng-bind="dataset.user.displayName"></span> ( ID: <span data-ng-bind="dataset._id"></span> )
                            </small>
                            <h4 class="list-group-item-heading" data-ng-bind="dataset.name"></h4>
                        </a>
                    </div>
                    <div class="alert alert-warning text-center" data-ng-hide="!datasets.$resolved || datasets.length">
                        No Datasets yet, why don't you <a href="/#!/datasets/create">create one</a>?
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row dashboard-panel" data-ng-controller="GoalsController" data-ng-init="find()">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="clickable" data-ui-sref="dashboard.goals.list">
                        <h3 class="panel-title"><span class="dashboard-paneltitle-item-icon fa fa-2x fa-bullseye" aria-hidden="true"></span> My Goals</h3>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a data-ng-repeat="goal in goals | limitTo:3" ng-class-odd="'odd'" ng-class-even="'even'" data-ui-sref="dashboard.goals.list.details({goalId: goal._id})" class="list-group-item">
                            <small class="list-group-item-text">
                                Posted on
                                <span data-ng-bind="goal.created | date:'medium'"></span>
                                by
                                <span data-ng-bind="goal.user.displayName"></span>
                                , Updated on
                                <span data-ng-bind="goal.updated | date:'medium'"></span>
                            </small>
                            <h4 class="list-group-item-heading" data-ng-bind="goal.name"></h4>
                        </a>
                    </div>
                    <div class="alert alert-warning text-center" data-ng-hide="!goals.$resolved || goals.length">
                        No Goals yet, why don't you <a href="/#!/goals/create">create one</a>?
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row dashboard-panel" data-ng-controller="FormulationsController" data-ng-init="find()">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="clickable" data-ui-sref="dashboard.formulations.list">
                        <h3 class="panel-title"><span class="dashboard-paneltitle-item-icon fa fa-2x fa-bullseye" aria-hidden="true"></span> My Formulations</h3>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a data-ng-repeat="formulation in formulations | limitTo:3" ng-class-odd="'odd'" ng-class-even="'even'" data-ui-sref="dashboard.formulations.list.details({formulationId: formulation._id})" class="list-group-item">
                            <small class="list-group-item-text">
                                Posted on
                                <span data-ng-bind="formulation.created | date:'medium'"></span>
                                by
                                <span data-ng-bind="formulation.user.displayName"></span>
                                , Updated on
                                <span data-ng-bind="formulation.updated | date:'medium'"></span>
                            </small>
                            <h4 class="list-group-item-heading" data-ng-bind="formulation.name"></h4>
                        </a>
                    </div>
                    <div class="alert alert-warning text-center" data-ng-hide="!formulations.$resolved || formulations.length">
                        No Formulations yet, why don't you <a href="/#!/formulations/create">create one</a>?
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row dashboard-panel" data-ng-controller="NotebooksController" data-ng-init="find()">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="clickable" data-ui-sref="dashboard.notebooks.list">
                        <h3 class="panel-title"><span class="dashboard-paneltitle-item-icon fa fa-2x fa-sticky-note" aria-hidden="true"></span> My Notebooks</h3>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a data-ng-repeat="notebook in notebooks | limitTo:3" ng-class-odd="'odd'" ng-class-even="'even'" data-ui-sref="dashboard.notebooks.list.details({notebookId: notebook._id})" class="list-group-item">
                            <small class="list-group-item-text">
                                Posted on
                                <span data-ng-bind="notebook.created | date:'medium'"></span>
                                by
                                <span data-ng-bind="notebook.user.displayName"></span>
                            </small>
                            <h4 class="list-group-item-heading" data-ng-bind="notebook.name"></h4>
                        </a>
                    </div>
                    <div class="alert alert-warning text-center" data-ng-hide="!notebooks.$resolved || notebooks.length">
                        No Notebooks yet, why don't you <a href="/#!/notebooks/create">create one</a>?
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <div class="col-xs-6">
        <div class="row dashboard-panel" data-ng-controller="ModelsController" data-ng-init="find()">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="clickable" data-ui-sref="dashboard.models.list">
                        <h3 class="panel-title"><span class="dashboard-paneltitle-item-icon fa fa-2x fa-cubes" aria-hidden="true"></span> My Models</h3>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a data-ng-repeat="model in models | limitTo:3" ng-class-odd="'odd'" ng-class-even="'even'" data-ui-sref="dashboard.models.list.details({modelId: model._id})" class="list-group-item">
                            <small class="list-group-item-text">
                                Posted on
                                <span data-ng-bind="model.created | date:'medium'"></span>
                                by
                                <span data-ng-bind="model.user.displayName"></span>
                            </small>
                            <h4 class="list-group-item-heading" data-ng-bind="model.name"></h4>
                        </a>
                    </div>
                    <div class="alert alert-warning text-center" data-ng-hide="!models.$resolved || models.length">
                        No Models yet, why don't you <a href="/#!/models/create">create one</a>?
                    </div>
                </div>
            </div>
        </div>
        <div class="row dashboard-panel" data-ng-controller="DecisionsController" data-ng-init="find()">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="clickable" data-ui-sref="dashboard.decisions.list">
                        <h3 class="panel-title"><span class="dashboard-paneltitle-item-icon fa fa-2x fa-balance-scale" aria-hidden="true"></span> My Decisions</h3>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a data-ng-repeat="decision in decisions | limitTo:3" ng-class-odd="'odd'" ng-class-even="'even'" data-ui-sref="dashboard.decisions.list.details({decisionId: decision._id})" class="list-group-item">
                            <small class="list-group-item-text">
                                Posted on
                                <span data-ng-bind="decision.created | date:'medium'"></span>
                                by
                                <span data-ng-bind="decision.user.displayName"></span>
                            </small>
                            <h4 class="list-group-item-heading" data-ng-bind="decision.name"></h4>
                        </a>
                    </div>
                    <div class="alert alert-warning text-center" data-ng-hide="!decisions.$resolved || decisions.length">
                        No Decisions yet, why don't you <a href="/#!/decisions/create">create one</a>?
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row dashboard-panel" data-ng-controller="PublicationsController" data-ng-init="find()">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="clickable" data-ui-sref="dashboard.publications.list">
                        <h3 class="panel-title"><span class="dashboard-paneltitle-item-icon fa fa-2x fa-book" aria-hidden="true"></span> My Publications</h3>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a data-ng-repeat="publication in publications | limitTo:3" ng-class-odd="'odd'" ng-class-even="'even'" data-ui-sref="dashboard.publications.list.details({publicationId: publication._id})" class="list-group-item">
                            <small class="list-group-item-text">
                                Posted on
                                <span data-ng-bind="publication.created | date:'medium'"></span>
                                by
                                <span data-ng-bind="publication.user.displayName"></span>
                            </small>
                            <h4 class="list-group-item-heading" data-ng-bind="publication.name"></h4>
                        </a>
                    </div>
                    <div class="alert alert-warning text-center" data-ng-hide="!publications.$resolved || publications.length">
                        No Publications yet, why don't you <a href="/#!/publications/create">create one</a>?
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>