<div>
    <div class="row subnavbar">
        <div class="visible-xs visible-lg">
            <div class="row subnavbar-nav">
                <button class="btn btn-default" type="button" ng-click="decisionsTemplate.path = 'modules/decisions/views/list-decisions.client.view.html'">List</button>
                <button class="btn btn-primary" type="button" ng-click="decisionsTemplate.path = 'modules/decisions/views/create-decision.client.view.html'">New Decision</button>
                <button class="btn btn-success" type="button" ng-click="decisionsTemplate.path = 'modules/core/views/decisions/decisions.third.client.view.html'">Decisions 3</button>
                <button class="btn btn-info" type="button" ng-click="decisionsTemplate.path = 'modules/core/views/decisions/decisions.fourth.client.view.html'">Decisions 4</button>
                <button class="btn btn-warning" type="button" ng-click="decisionsTemplate.path = 'modules/core/views/decisions/decisions.fifth.client.view.html'">Decisions 5</button>
                <button class="btn btn-danger" type="button" ng-click="decisionsTemplate.path = 'modules/core/views/decisions/decisions.sixth.client.view.html'">Decisions 6</button>
            </div>
        </div>
        <div class="visible-md">
            <div class="row subnavbar-nav">
                <button class="btn btn-default" type="button" ng-click="decisionsTemplate.path = 'modules/decisions/views/list-decisions.client.view.html'">List</button>
                <button class="btn btn-primary" type="button" ng-click="decisionsTemplate.path = 'modules/decisions/views/create-decision.client.view.html'">New Decision</button>
                <button class="btn btn-success" type="button" ng-click="decisionsTemplate.path = 'modules/core/views/decisions/decisions.third.client.view.html'">Decisions 3</button>
            </div>
            <div class="row subnavbar-nav">
                <button class="btn btn-info" type="button" ng-click="decisionsTemplate.path = 'modules/core/views/decisions/decisions.fourth.client.view.html'">Decisions 4</button>
                <button class="btn btn-warning" type="button" ng-click="decisionsTemplate.path = 'modules/core/views/decisions/decisions.fifth.client.view.html'">Decisions 5</button>
                <button class="btn btn-danger" type="button" ng-click="decisionsTemplate.path = 'modules/core/views/decisions/decisions.sixth.client.view.html'">Decisions 6</button>
            </div>
        </div>
        <div class="visible-sm">
            <div class="row subnavbar-nav">
                <button class="btn btn-default" type="button" ng-click="decisionsTemplate.path = 'modules/decisions/views/list-decisions.client.view.html'">List</button>
                <button class="btn btn-primary" type="button" ng-click="decisionsTemplate.path = 'modules/decisions/views/create-decision.client.view.html'">New Decision</button>
            </div>
            <div class="row subnavbar-nav">
                <button class="btn btn-success" type="button" ng-click="decisionsTemplate.path = 'modules/core/views/decisions/decisions.third.client.view.html'">Decisions 3</button>
                <button class="btn btn-info" type="button" ng-click="decisionsTemplate.path = 'modules/core/views/decisions/decisions.fourth.client.view.html'">Decisions 4</button>
            </div>
            <div class="row subnavbar-nav">
                <button class="btn btn-warning" type="button" ng-click="decisionsTemplate.path = 'modules/core/views/decisions/decisions.fifth.client.view.html'">Decisions 5</button>
                <button class="btn btn-danger" type="button" ng-click="decisionsTemplate.path = 'modules/core/views/decisions/decisions.sixth.client.view.html'">Decisions 6</button>
            </div>
        </div>
    </div>
    <div class="decisions-panels" data-ng-include="decisionsTemplate.path"></div>
</div>