<div data-ng-controller="ModelsViewController">
    <!-- <h1>{{ whoami }}</h1> -->
    <div class="row subnavbar">
        <div class="visible-xs visible-lg">
            <div class="row subnavbar-nav">
                <button class="btn btn-default" type="button" ng-click="modelsTemplate.path = 'modules/core/views/models/models.default.client.view.html'">Models 1</button>
                <button class="btn btn-primary" type="button" ng-click="modelsTemplate.path = 'modules/core/views/models/models.second.client.view.html'">Models 2</button>
                <button class="btn btn-success" type="button" ng-click="modelsTemplate.path = 'modules/core/views/models/models.third.client.view.html'">Models 3</button>
                <button class="btn btn-info" type="button" ng-click="modelsTemplate.path = 'modules/core/views/models/models.fourth.client.view.html'">Models 4</button>
                <button class="btn btn-warning" type="button" ng-click="modelsTemplate.path = 'modules/core/views/models/models.fifth.client.view.html'">Models 5</button>
                <button class="btn btn-danger" type="button" ng-click="modelsTemplate.path = 'modules/core/views/models/models.sixth.client.view.html'">Models 6</button>
            </div>
        </div>
        <div class="visible-md">
            <div class="row subnavbar-nav">
                <button class="btn btn-default" type="button" ng-click="modelsTemplate.path = 'modules/core/views/models/models.default.client.view.html'">Models 1</button>
                <button class="btn btn-primary" type="button" ng-click="modelsTemplate.path = 'modules/core/views/models/models.second.client.view.html'">Models 2</button>
                <button class="btn btn-success" type="button" ng-click="modelsTemplate.path = 'modules/core/views/models/models.third.client.view.html'">Models 3</button>
            </div>
            <div class="row subnavbar-nav">
                <button class="btn btn-info" type="button" ng-click="modelsTemplate.path = 'modules/core/views/models/models.fourth.client.view.html'">Models 4</button>
                <button class="btn btn-warning" type="button" ng-click="modelsTemplate.path = 'modules/core/views/models/models.fifth.client.view.html'">Models 5</button>
                <button class="btn btn-danger" type="button" ng-click="modelsTemplate.path = 'modules/core/views/models/models.sixth.client.view.html'">Models 6</button>
            </div>
        </div>
        <div class="visible-sm">
            <div class="row subnavbar-nav">
                <button class="btn btn-default" type="button" ng-click="modelsTemplate.path = 'modules/core/views/models/models.default.client.view.html'">Models 1</button>
                <button class="btn btn-primary" type="button" ng-click="modelsTemplate.path = 'modules/core/views/models/models.second.client.view.html'">Models 2</button>
            </div>
            <div class="row subnavbar-nav">
                <button class="btn btn-success" type="button" ng-click="modelsTemplate.path = 'modules/core/views/models/models.third.client.view.html'">Models 3</button>
                <button class="btn btn-info" type="button" ng-click="modelsTemplate.path = 'modules/core/views/models/models.fourth.client.view.html'">Models 4</button>
            </div>
            <div class="row subnavbar-nav">
                <button class="btn btn-warning" type="button" ng-click="modelsTemplate.path = 'modules/core/views/models/models.fifth.client.view.html'">Models 5</button>
                <button class="btn btn-danger" type="button" ng-click="modelsTemplate.path = 'modules/core/views/models/models.sixth.client.view.html'">Models 6</button>
            </div>
        </div>
    </div>
    <div class="models-panels" data-ng-include="modelsTemplate.path"></div>
</div>