<section>
    <div class="row subnavbar">
        <div class="hidden-sm hidden-md">
            <div class="row subnavbar-nav">
                <button class="btn btn-default btn-list" type="button" data-ui-sref="dashboard.models.list" ng-click="clicked('dashboard.models.list')">List</button>
                <button class="btn btn-default btn-new" type="button" data-ui-sref="dashboard.models.load" ng-click="clicked('dashboard.models.load')">New</button>
                <!-- <button class="btn btn-default btn-curate" type="button" data-ui-sref="dashboard.models.curate" ng-click="clicked('dashboard.models.curate')">Curate</button> -->
                <!-- <button class="btn btn-default btn-publish" type="button" data-ui-sref="dashboard.models.publish" ng-click="clicked('dashboard.models.publish')">Publish</button> -->
            </div>
        </div>
        <div class="visible-sm visible-md">
            <div class="row subnavbar-nav">
                <button class="btn btn-default btn-list" type="button" data-ui-sref="dashboard.models.list" ng-click="clicked('dashboard.models.list')">List</button>
                <button class="btn btn-default btn-new" type="button" data-ui-sref="dashboard.models.load" ng-click="clicked('dashboard.models.load')">New</button>
                <!-- <button class="btn btn-default btn-curate" type="button" data-ui-sref="dashboard.models.curate" ng-click="clicked('dashboard.models.curate')">Curate</button> -->
                <!-- <button class="btn btn-default btn-publish" type="button" data-ui-sref="dashboard.models.publish" ng-click="clicked('dashboard.models.publish')">Publish</button> -->
            </div>
        </div>
    </div>
    <div data-ui-view=""></div>
</section>