<section>
  <!-- Ranking Sliders -->
  <!-- <h4>Preference Weighting for Attribute Utility Scores</h4> -->
  <div class="row utility-weighting">
    <div class="col-xs-4">
      <label for="weight">Attr 1</label>
      <input type="range" id="attr_1" min="0" value="10" max="100" step="1">
    </div>
    <div class="col-xs-4">
      <label for="weight">Attr 2</label>
      <input type="range" id="attr_2" min="0" value="10" max="100" step="1">
    </div>
    <div class="col-xs-4">
      <label for="weight">Attr 3</label>
      <input type="range" id="attr_3" min="0" value="10" max="100" step="1">
    </div>
  </div>
</section>