<section>
  <!-- ngTableDirective with Encompass Data -->
  <div class="row">
    <div class="datatable table-responsive analysis-data-table" id="datatable">
      <table ng-table="dataTable" class="table table-striped">
        <tr class="datatable-run" ng-repeat="dataitem in data" ng-if="$index > 0" ng-click="rowClicked(dataitem)" ng-mouseenter="decorateSiblings(dataitem)" ng-mouseleave="clearSiblings(dataitem)">
          <td data-title="'Datasource'" sortable="'dataSource'" class="datatable-source">
            {{ dataitem[0] }}
          </td>
          <td data-title="'Wells Original (SUF 1)'" sortable="'value_O_wells'" class="datatable-value">
           {{ dataitem[1] }}
          </td>
          <td data-title="'Wells Modified (SUF 1)'" sortable="'value_M_wells'" class="datatable-value">
           {{ dataitem[2] }}
          </td>
          <td data-title="'Wells SUF'" class="datatable-suf">
           {{ suf01 }}
          </td>
          <td data-title="'Heads Original (SUF 2)'" sortable="'value_O_heads'" class="datatable-value">
           {{ dataitem[4] }}
          </td>
          <td data-title="'Heads Modified (SUF 2)'" sortable="'value_M_heads'" class="datatable-value">
           {{ dataitem[5] }}
          </td>
          <td data-title="'Heads SUF'" class="datatable-suf">
           {{ suf02 }}
          </td>
          <td data-title="'Drains Original (SUF 3)'" sortable="'value_O_drains'" class="datatable-value">
           {{ dataitem[7] }}
          </td>
          <td data-title="'Drains Modified (SUF 3)'" sortable="'value_M_drains'" class="datatable-value">
           {{ dataitem[8] }}
          </td>
          <td data-title="'Drains SUF'" class="datatable-suf">
           {{ suf03 }}
          </td>
          <td data-title="'Datasource MUF'" class="datatable-muf">
           {{ muf }}
          </td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Demo ngTableDirective -->
  <!--
  <div loading-container="datatable.tableParams.settings().$loading">
    <table ng-table="datatable.tableParams" class="table table-condensed table-bordered table-striped">
      <tr ng-repeat="issue in $data">
        <td data-title="'#'">
          <a target="_blank" ng-href="{{issue.html_url}}">{{issue.number}}</a>
        </td>
        <td data-title="'Theme'">{{issue.title}}</td>
        <td data-title="'Opened by'">
          <a target="_blank" ng-href="{{issue.user.url}}">
            <nobr><img width="16" height="16" ng-src="{{issue.user.avatar_url}}" /> {{issue.user.login}}
            </nobr>
          </a>
        </td>
        <td data-title="'Updated'">
          <nobr>{{issue.updated_at | date:'medium'}}</nobr>
        </td>
      </tr>
    </table>
  </div>
  -->

  <!-- Custom Table -->
  <!--
  <div class="row">
    <div class="table-responsive analysis-data-table" id="datatable">
      <table class="table table-striped table-bordered" show-filter='true'>
        <thead>
          <tr>
            <th>{{ headerdata[0] }}</th>
            <th>{{ headerdata[1] }}</th>
            <th>{{ headerdata[2] }}</th>
            <th>{{ headerdata[3] }}</th>
            <th>{{ headerdata[4] }}</th>
            <th>{{ headerdata[5] }}</th>
            <th>{{ headerdata[6] }}</th>
            <th>{{ headerdata[7] }}</th>
            <th>{{ headerdata[8] }}</th>
            <th>{{ headerdata[9] }}</th>
            <th>{{ headerdata[10] }}</th>
            <th>{{ headerdata[11] }}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="data in tabledata track by $index" ng-click="rowClicked(data)" ng-mouseenter="decorateSiblings(data)" ng-mouseleave="clearSiblings(data)">
            <td>{{ tabledata }}</td>
            <td>{{ tabledata[1] }}</td>
            <td>{{ tabledata[2] }}</td>
            <td>{{ tabledata[3] }}</td>
            <td>{{ tabledata[4] }}</td>
            <td>{{ tabledata[5] }}</td>
            <td>{{ tabledata[6] }}</td>
            <td>{{ tabledata[7] }}</td>
            <td>{{ tabledata[8] }}</td>
            <td>{{ tabledata[9] }}</td>
            <td>{{ tabledata[10] }}</td>
            <td>{{ tabledata[11] }}</td>
            -->

            <!--
            <td data-title="'Run'" sortable="'dataSource'" class="datatable-source">
               {{ tabledata[0] }}
            </td>
            <td data-title="'Attr 1 Value'" sortable="'value_O'" class="datatable-value">
               {{ dataitem[1] }}
            </td>
            <td data-title="'Attr 1 SUF'" class="datatable-suf">
               {{ suf01 }}
            </td>
            <td data-title="'Attr 2 Value'" sortable="'attr_2'" class="datatable-value">
               {{ dataitem[5] }}
            </td>
            <td data-title="'Attr 2 SUF'" class="datatable-suf">
               {{ suf02 }}
            </td>
            <td data-title="'Attr 3 Value'" sortable="'attr_3'" class="datatable-value">
               {{ dataitem[7] }}
            </td>
            <td data-title="'Attr 3 SUF'" class="datatable-suf">
               {{ suf03 }}
            </td>
            <td data-title="'Run MUF'" class="datatable-muf">
               {{ muf }}
            </td> -->

          <!--
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  -->
</section>
