<section>
    <div class="row">
        <div id="watermark" class="div-relative data-slide">
            <div class="z-500 row watermark-panels">
                <div class="panel-base" id="panel-pm">
                    <div class="watermark-panel-title font-ubuntu-condensed">{{ graphTitle }}</div>
                    <div class="">
                        <div class="z-200 col-md-12">
                            <div id="graph"></div>
                        </div>
                        <div class="z-400 col-md-4">
                            <div id="kzones"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>