<section class="utility-weighting">
  <!-- Ranking Sliders -->
  <h4 class="text-primary">Preference Weighting for Attribute Utility Scores</h4>

  <div ui-slider="" min="0" max="50" ng-model="demoVals.sliderExample1" class="ng-valid ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all ng-dirty" aria-disabled="false">
    <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <label for="weight">SUF 1 Weight</label>
      <input type="range" id="suf-1" min="0" value="50" max="100" step="1">
    </div>
    <div class="col-xs-3">
      <label for="weight">SUF 2 Weight</label>
      <input type="range" id="suf-2" min="0" value="50" max="100" step="1">
    </div>
    <div class="col-xs-3">
      <label for="weight">SUF 3 Weight</label>
      <input type="range" id="suf-3" min="0" value="50" max="100" step="1">
    </div>
    <div class="col-xs-3">
      <label for="filter">MUF Filter</label>
      <input type="range" id="muf" min="0.0" value="0.0" max="1.0" step="0.01">
    </div>
  </div>
</section>