<section>
  <div class="row">
    <div class="table-responsive datatable" id="datatable">
      <table ng-table="dataTable" class="table table-condensed table-bordered table-striped" show-filter="false">
        <tr class="datatable-run" ng-repeat="dataitem in data track by dataitem" ng-if="$index != 0" ng-click="rowClicked(dataitem)" ng-mouseenter="decorateSiblings(dataitem)" ng-mouseleave="clearSiblings(dataitem)">
            <td data-title="'Datasource'" filter="{dataitem: 'text'}" class="datatable-source">
              {{ dataitem[0] }}
            </td>
            <td data-title="'Wells Original (SUF 1)'" class="datatable-attr1-O">
             {{ dataitem[1] }}
            </td>
            <td data-title="'Wells Modified (SUF 1)'" class="data-attr1-M">
             {{ dataitem[2] }}
            </td>
            <td data-title="'Wells SUF'" class="datatable-suf1">
             {{ suf01 }}
            </td>
            <td data-title="'Heads Original (SUF 2)'" class="datatable-attr2-O">
             {{ dataitem[4] }}
            </td>
            <td data-title="'Heads Modified (SUF 2)'" class="datatable-attr2-M">
             {{ dataitem[5] }}
            </td>
            <td data-title="'Heads SUF'" class="datatable-suf2">
             {{ suf02 }}
            </td>
            <td data-title="'Drains Original (SUF 3)'" class="datatable-attr3-O">
             {{ dataitem[7] }}
            </td>
            <td data-title="'Drains Modified (SUF 3)'" class="datatable-attr3-M">
             {{ dataitem[8] }}
            </td>
            <td data-title="'Drains SUF'" class="datatable-suf3">
             {{ suf03 }}
            </td>
            <td data-title="'Datasource MUF'" class="datatable-muf">
             {{ muf }}
            </td>
          </tr>
      </table>
    </div>
  </div>
</section>
