<section data-ng-controller="DecisionsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="decision.name"></h1>
		<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == decision.user._id))">
			<a class="btn btn-primary" data-ui-sref="dashboard.decisions.list.edit({decisionId: decision._id})"><!-- href="/#!/decisions/{{decision._id}}/edit" -->
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-danger" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
		<h5 class="decision-view-header-subtitle">
			<em class="text-muted">
				Posted on
				<span data-ng-bind="decision.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="decision.user.displayName"></span>
			</em>
		</h5>
	</div>
</section>
