<section data-ng-controller="NotebooksController" data-ng-init="find(currentUser)">
    <div class="page-header">
        <h1>Notebooks</h1>
    </div>
    <div class="col-xs-4">
        <div class="list-group">
            <a data-ng-repeat="notebook in notebooks" data-ui-sref="dashboard.notebooks.list.details({notebookId: notebook._id})" class="list-group-item"><!-- data-ng-href="#!/notebooks/{{notebook._id}}" -->
    			<small class="list-group-item-text">
    				Posted on
    				<span data-ng-bind="notebook.created | date:'medium'"></span>
    				by
    				<span data-ng-bind="notebook.user.displayName"></span>
    			</small>
    			<h4 class="list-group-item-heading" data-ng-bind="notebook.name"></h4>
            </a>
        </div>
        <div class="alert alert-warning text-center" data-ng-hide="!notebooks.$resolved || notebooks.length">
        	No Notebooks yet, why don't you <a href="/#!/notebooks/create">create one</a>?
        </div>
    </div>
    <div class="col-xs-8">
        <div data-ui-view=""></div>
    </div>
</section>