<section>
    <!-- <div class="pull-left"><h2 class="text-warning">Formulations</h2></div> -->
    <div class="row subnavbar-nav">
        <button class="btn btn-default btn-list" data-ui-sref="formulations.list" ng-click="clicked('formulations.list')">
          <span class="fa fa-list-ul"></span><span class="btn-label">List</span>
        </button>
        <button class="btn btn-default btn-new" data-ui-sref="formulations.list.load" ng-click="clicked('formulations.list.load')">
          <span class="fa fa-plus-square-o"></span><span class="btn-label">New</span>
        </button>
    </div>
    <!-- <hr/> -->
    <div data-ui-view=""></div>
</section>