<section data-ng-init="find(currentUser)">
    <div class="row">
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="paneltitle-item-icon fa fa-2x fa-puzzle-piece" aria-hidden="true"></span><span class="panel-title"> My Formulations</span>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a data-ng-repeat="formulation in formulations" ng-class-odd="'odd'" ng-class-even="'even'" data-ui-sref="formulations.list.details({formulationId: formulation._id})" class="list-group-item">
                			<small class="list-group-item-text">
                				Posted on
                				<span data-ng-bind="formulation.created | date:'medium'"></span>
                				by
                				<span data-ng-bind="formulation.user.displayName"></span>
                			</small>
                			<h4 class="list-group-item-heading" data-ng-bind="formulation.name"></h4>
                        </a>
                    </div>
                    <div class="alert alert-warning text-center" data-ng-hide="!formulations.$resolved || formulations.length">
                    	No Formulations yet, why don't you <a href="/#!/formulations/create">create one</a>?
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div data-ui-view=""></div>
        </div>
    </div>
</section>