<section data-ng-init="findOne()">
	<div>
		<h1 data-ng-bind="formulation.name"></h1>
		<h5 class="formulation-view-header-subtitle">
			<em class="text-warning">
				Posted on
				<span data-ng-bind="formulation.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="formulation.user.displayName"></span>
			</em>
		</h5>
	</div>
	<hr/>
	<div data-ng-show="((authentication.user) && (authentication.user._id == formulation.user._id))">
		<button class="btn btn-default btn-publish" data-ui-sref="analyze.layout">
			<span class="fa fa-line-chart"></span><span class="btn-label">Analyze</span>
		</button>
		<button class="btn btn-primary" data-ui-sref="formulations.list.edit({formulationId: formulation._id})">
			<span class="fa fa-pencil-square-o"></span><span class="btn-label">Edit</span>
		</button>
		<button class="btn btn-danger" data-ng-click="remove();">
			<span class="fa fa-trash-o"></span><span class="btn-label">Delete</span>
		</button>
	</div>
</section>