<section data-ng-init="findOne()">
	<div>
		<h1 data-ng-bind="model.name"></h1>
		<h5 class="model-view-header-subtitle">
			<em class="text-warning">
				Posted on
				<span data-ng-bind="model.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="model.user.displayName"></span>
			</em>
		</h5>
	</div>
	<hr/>
	<div data-ng-show="((authentication.user) && (authentication.user._id == model.user._id))">
		<button class="btn btn-default btn-publish" type="button" data-ui-sref="models.list.design" ng-click="clicked('models.list.design')">
			<span class="fa fa-flask"></span><span class="btn-label">Design</span>
		</button>
		<button class="btn btn-primary" data-ui-sref="models.list.edit({modelId: model._id})">
			<span class="fa fa-pencil-square-o"></span><span class="btn-label">Edit</span>
		</button>
		<button class="btn btn-danger" type="button" data-ng-click="remove();">
			<span class="fa fa-trash-o"></span><span class="btn-label">Delete</span>
		</button>
	</div>
</section>
