<section data-ng-controller="ModelsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="model.name"></h1>
		<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == model.user._id))">
			<a class="btn btn-primary" data-ui-sref="dashboard.models.list.edit({modelId: model._id})"> <!-- href="/#!/models/{{model._id}}/edit" -->
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-danger" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
		<h5 class="model-view-header-subtitle">
			<em class="text-muted">
				Posted on
				<span data-ng-bind="model.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="model.user.displayName"></span>
			</em>
		</h5>
	</div>
</section>
