<section data-ng-init="find(currentUser)">
    <div class="row">
        <div class="col-xs-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="paneltitle-item-icon fa fa-2x fa-newspaper-o default-global-transform" aria-hidden="true"></span><span class="panel-title default-global-transform"> My Publications</span>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a class="list-group-item default-global-transform" ng-class-odd="'odd'" ng-class-even="'even'" data-ng-repeat="publication in publications" data-ui-sref="publications.list.details({publicationId: publication._id})">
                			<small class="list-group-item-text">
                				Posted on
                				<span data-ng-bind="publication.created | date:'medium'"></span>
                				by
                				<span data-ng-bind="publication.user.displayName"></span>
                			</small>
                			<h4 class="list-group-item-heading" data-ng-bind="publication.name"></h4>
                        </a>
                    </div>
                    <div class="alert alert-warning text-center" data-ng-hide="!publications.$resolved || publications.length">
                    	No Publications yet, why don't you <a href="/#!/publications/create">create one</a>?
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div data-ui-view=""></div>
        </div>
    </div>
</section>