<section>
    <div class="row landing-page">
        <div class="col-xs-4">
          <blockquote class="blockquote-reverse">
            <p><span class="quote-text">&quot;The question they ask us is:</span></p>
            <p><span class="text-question drop-shadow">Where do you get your ideas?</span></p>
            <p><span class="quote-text">And the answer is:</span></p>
            <p><span class="text-conflux drop-shadow">Confluence</span></p>
            <p><span class="text-conflux-slogan drop-shadow">Things come together.</span></p>
            <p><span class="quote-text">The right ingredients and suddenly:</span><br/><span class="text-conflux-phrase drop-shadow">Abracadabra!</span>&quot;</p>
            <footer class="quote-author">Neil Gaiman, <cite title="Source Title">Smoke and Mirrors</cite></footer>
          </blockquote>
        </div>
        <div class="col-xs-4">
          <h2 ng-bind="appTitle">Title</h2>
          <h4>Version: <span ng-bind="versionNumber">version</span></h4>
          <h5>A Multi-Criteria Spatial Decision Support System</h5>
          <p>The use of multi-criteria spatial decision support systems (MCSDSS)—an integration of geographical information systems (GIS), decision support systems (DSS), and multiple criteria decision analysis (MCDA) — has emerged as a decision aid approach for evaluating conflicting objectives and stakeholder preferences in the implementation of spatial decision models.</p>
          <p>This research presents an open-source tool that supports a spatial decision-making process by providing better access to information, increased ease of public participation, and support for distributed collaboration amongst various groups of stakeholders in remote environments.</p>
          <p>Website: <a ng-href="//www.encompassproject.org/#/intelligent-systems" target="_blank">Encompass Project - Watermark (MCSDSS)</a></p>
          <p>DOI Number: ###########</p>
          <p>DOI Link: Zenodo</p>
          <p>Source Code: GitHub <a ng-href="#">https://encompass@github.com/flowfinder-mcsdss-alpha.git</a></p>
          <p>Developed by Dr. Suzanne Pierce, John Gentle</p>
          <p>Licensing: GNU/MIT/TBD</p>
          <hr/>
          <h4>Contacts</h4>
          <p>TBD</p>
        </div>
        <div class="col-xs-4">
          <img class="center-block about-logo" ng-src="{{ logopath }}" alt="Conflux Logo" />
        </div>
    </div>
</section>