<div>
    <div class="row subnavbar">
        <div class="visible-xs visible-lg">
            <div class="row subnavbar-nav">
                <button class="btn btn-default" type="button" ng-click="goalsTemplate.path = 'modules/goals/views/list-goals.client.view.html'">List</button>
                <button class="btn btn-primary" type="button" ng-click="goalsTemplate.path = 'modules/goals/views/create-goal.client.view.html'">New Goal</button>
                <button class="btn btn-success" type="button" ng-click="goalsTemplate.path = 'modules/core/views/goals/goals.third.client.view.html'">Goals 3</button>
                <button class="btn btn-info" type="button" ng-click="goalsTemplate.path = 'modules/core/views/goals/goals.fourth.client.view.html'">Goals 4</button>
                <button class="btn btn-warning" type="button" ng-click="goalsTemplate.path = 'modules/core/views/goals/goals.fifth.client.view.html'">Goals 5</button>
                <button class="btn btn-danger" type="button" ng-click="goalsTemplate.path = 'modules/core/views/goals/goals.sixth.client.view.html'">Goals 6</button>
            </div>
        </div>
        <div class="visible-md">
            <div class="row subnavbar-nav">
                <button class="btn btn-default" type="button" ng-click="goalsTemplate.path = 'modules/goals/views/list-goals.client.view.html'">List</button>
                <button class="btn btn-primary" type="button" ng-click="goalsTemplate.path = 'modules/goals/views/create-goal.client.view.html'">New Goal</button>
                <button class="btn btn-success" type="button" ng-click="goalsTemplate.path = 'modules/core/views/goals/goals.third.client.view.html'">Goals 3</button>
            </div>
            <div class="row subnavbar-nav">
                <button class="btn btn-info" type="button" ng-click="goalsTemplate.path = 'modules/core/views/goals/goals.fourth.client.view.html'">Goals 4</button>
                <button class="btn btn-warning" type="button" ng-click="goalsTemplate.path = 'modules/core/views/goals/goals.fifth.client.view.html'">Goals 5</button>
                <button class="btn btn-danger" type="button" ng-click="goalsTemplate.path = 'modules/core/views/goals/goals.sixth.client.view.html'">Goals 6</button>
            </div>
        </div>
        <div class="visible-sm">
            <div class="row subnavbar-nav">
                <button class="btn btn-default" type="button" ng-click="goalsTemplate.path = 'modules/goals/views/list-goals.client.view.html'">List</button>
                <button class="btn btn-primary" type="button" ng-click="goalsTemplate.path = 'modules/goals/views/create-goal.client.view.html'">New Goal</button>
            </div>
            <div class="row subnavbar-nav">
                <button class="btn btn-success" type="button" ng-click="goalsTemplate.path = 'modules/core/views/goals/goals.third.client.view.html'">Goals 3</button>
                <button class="btn btn-info" type="button" ng-click="goalsTemplate.path = 'modules/core/views/goals/goals.fourth.client.view.html'">Goals 4</button>
            </div>
            <div class="row subnavbar-nav">
                <button class="btn btn-warning" type="button" ng-click="goalsTemplate.path = 'modules/core/views/goals/goals.fifth.client.view.html'">Goals 5</button>
                <button class="btn btn-danger" type="button" ng-click="goalsTemplate.path = 'modules/core/views/goals/goals.sixth.client.view.html'">Goals 6</button>
            </div>
        </div>
    </div>
    <div class="goals-panels" data-ng-include="goalsTemplate.path"></div>
</div>