<div>
	<div class="page-header">
		<h1>Profile</h1>
	</div>
    <!-- <div class="row subnavbar">
        <div class="visible-xs visible-lg">
            <div class="row subnavbar-nav">
                <button class="btn btn-default" type="button" href="/#!/settings/profile" ng-click="clicked('settings.profile.edit')">Edit Profile</button>
                <button class="btn btn-primary" type="button" href="/#!/settings/accounts" ng-click="clicked('settings.profile.edit')">Manage Social Accounts</button>
                <button class="btn btn-success" type="button" href="/#!/settings/password" ng-click="clicked('settings.profile.edit')">Change Password</button>
            </div>
        </div>
        <div class="visible-md">
            <div class="row subnavbar-nav">
                <button class="btn btn-default" type="button" href="/#!/settings/profile" ng-click="clicked('settings.profile.edit')">Edit Profile</button>
                <button class="btn btn-primary" type="button" href="/#!/settings/accounts" ng-click="clicked('settings.profile.edit')">Manage Social Accounts</button>
                <button class="btn btn-success" type="button" href="/#!/settings/password" ng-click="clicked('settings.profile.edit')">Change Password</button>
            </div>
        </div>
        <div class="visible-sm">
            <div class="row subnavbar-nav">
                <button class="btn btn-default" type="button" href="/#!/settings/profile" ng-click="clicked('settings.profile.edit')">Edit Profile</button>
                <button class="btn btn-primary" type="button" href="/#!/settings/accounts" ng-click="clicked('settings.profile.edit')">Manage Social Accounts</button>
                <button class="btn btn-success" type="button" href="/#!/settings/password" ng-click="clicked('settings.profile.edit')">Change Password</button>
            </div>
        </div>
    </div> -->
	<div class="col-xs-6">
		<div class="row">
		  <div class="col-xs-6 col-md-3">
		    <a href="#" class="thumbnail">
		      <img src="" alt="">
		      <span class="fa fa-5x fa-user"></span>
		    </a>
		  </div>
		</div>
		<ul>
			<li>{{ user.displayName }}</li>
			<li>First Name: {{ user.firstName }}</li>
			<li>Last Name: {{ user.lastName }}</li>
			<li>Email: {{ user.email }}</li>
			<li>Username: {{ user.displayName }}</li>
		</ul>
		<ul class="">
			<li>
				<a href="/#!/settings/profile">Edit Profile</a>
			</li>
			<li>
				<a href="/#!/settings/accounts">Manage Social Accounts</a>
			</li>
			<li data-ng-show="authentication.user.provider === 'local'">
				<a href="/#!/settings/password">Change Password</a>
			</li>
		</ul>
	</div>
</div>