<section>
	<div class="page-header">
		<h1 class="row text-center">Profile</h1>
	</div>
    <div class="row">
    	<div class="col-xs-12 text-center">
            <a href="#" class="">
                <img src="" alt="">
                <span class="fa fa-5x fa-user"></span>
            </a>
    		<h2 data-ng-bind="user.displayName">User Name</h2>
    		<p>First Name: <span data-ng-bind="user.firstName">First Name</span></p>
    		<p>Last Name: <span data-ng-bind="user.lastName">Last Name</span></p>
    		<p>Email: <span data-ng-bind="user.email">Email</span></p>
    		<p>Username: <span data-ng-bind="user.displayName">Display Name</span></p>
    	</div>
    </div>
</section>