<div>
	<div class="page-header">
		<h1 class="row text-center">Profile</h1>
	</div>
    <div class="row">
    	<div class="col-xs-12 text-center">
            <a href="#" class="thumbnail">
                <img src="" alt="">
                <span class="fa fa-5x fa-user"></span>
            </a>
    		<p>{{ user.displayName }}</p>
    		<p>First Name: {{ user.firstName }}</p>
    		<p>Last Name: {{ user.lastName }}</p>
    		<p>Email: {{ user.email }}</p>
    		<p>Username: {{ user.displayName }}</p>
    		<!-- <ul class="">
    			<li>
    				<a href="/#!/settings/profile">Edit Profile</a>
    			</li>
    			<li>
    				<a href="/#!/settings/accounts">Manage Social Accounts</a>
    			</li>
    			<li data-ng-show="authentication.user.provider === 'local'">
    				<a href="/#!/settings/password">Change Password</a>
    			</li>
    		</ul> -->
    	</div>
    </div>
</div>