{% extends 'layout.server.view.html' %}

{% block static-additions %}
    <!-- Web Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,700' rel='stylesheet' type='text/css'>
    <!-- <link href='https://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'> -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'> -->
    <!--
        font-family: 'Open Sans', sans-serif;
        font-family: 'Ubuntu', sans-serif;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-family: 'Ubuntu Mono', ;
    -->
{% endblock static-additions %}

{% block content %}
    <header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
    <section class="base-layout" data-ui-view></section>
{% endblock content %}