<div data-ng-controller="NotebooksViewController">
    <!-- <h1>{{ whoami }}</h1> -->
    <div class="row">
        <div class="notebooks-nav">
            <button class="btn btn-default" type="submit">TBD</button>
            <button class="btn btn-primary" type="submit">TBD</button>
            <button class="btn btn-success" type="submit">TBD</button>
            <button class="btn btn-info" type="submit">TBD</button>
            <button class="btn btn-warning" type="submit">TBD</button>
            <button class="btn btn-danger" type="submit">TBD</button>
            <!-- <button class="btn btn-link" type="submit">TBD</button> -->
        </div>
    </div>
    <div class="notebooks-panels" data-ng-include="notebooksTemplate.path"></div>
</div>