<div data-ng-controller="NotebooksViewController">
    <!-- <h1>{{ whoami }}</h1> -->
    <div class="row subnavbar">
        <div class="visible-xs visible-lg">
            <div class="row subnavbar-nav">
                <button class="btn btn-default" type="button" ng-click="notebooksTemplate.path = 'modules/notebooks/views/list-notebooks.client.view.html'">List</button>
                <button class="btn btn-primary" type="button" ng-click="notebooksTemplate.path = 'modules/notebooks/views/create-notebook.client.view.html'">New Notebook</button>
                <button class="btn btn-success" type="button" ng-click="notebooksTemplate.path = 'modules/core/views/notebooks/notebooks.third.client.view.html'">Notebooks 3</button>
                <button class="btn btn-info" type="button" ng-click="notebooksTemplate.path = 'modules/core/views/notebooks/notebooks.fourth.client.view.html'">Notebooks 4</button>
                <button class="btn btn-warning" type="button" ng-click="notebooksTemplate.path = 'modules/core/views/notebooks/notebooks.fifth.client.view.html'">Notebooks 5</button>
                <button class="btn btn-danger" type="button" ng-click="notebooksTemplate.path = 'modules/core/views/notebooks/notebooks.sixth.client.view.html'">Notebooks 6</button>
            </div>
        </div>
        <div class="visible-md">
            <div class="row subnavbar-nav">
                <button class="btn btn-default" type="button" ng-click="notebooksTemplate.path = 'modules/notebooks/views/list-notebooks.client.view.html'">List</button>
                <button class="btn btn-primary" type="button" ng-click="notebooksTemplate.path = 'modules/notebooks/views/create-notebook.client.view.html'">New Notebook</button>
                <button class="btn btn-success" type="button" ng-click="notebooksTemplate.path = 'modules/core/views/notebooks/notebooks.third.client.view.html'">Notebooks 3</button>
            </div>
            <div class="row subnavbar-nav">
                <button class="btn btn-info" type="button" ng-click="notebooksTemplate.path = 'modules/core/views/notebooks/notebooks.fourth.client.view.html'">Notebooks 4</button>
                <button class="btn btn-warning" type="button" ng-click="notebooksTemplate.path = 'modules/core/views/notebooks/notebooks.fifth.client.view.html'">Notebook 5</button>
                <button class="btn btn-danger" type="button" ng-click="notebooksTemplate.path = 'modules/core/views/notebooks/notebooks.sixth.client.view.html'">Notebooks 6</button>
            </div>
        </div>
        <div class="visible-sm">
            <div class="row subnavbar-nav">
                <button class="btn btn-default" type="button" ng-click="notebooksTemplate.path = 'modules/notebooks/views/list-notebooks.client.view.html'">List</button>
                <button class="btn btn-primary" type="button" ng-click="notebooksTemplate.path = 'modules/notebooks/views/create-notebook.client.view.html'">New Notebook</button>
            </div>
            <div class="row subnavbar-nav">
                <button class="btn btn-success" type="button" ng-click="notebooksTemplate.path = 'modules/core/views/notebooks/notebooks.third.client.view.html'">Notebooks 3</button>
                <button class="btn btn-info" type="button" ng-click="notebooksTemplate.path = 'modules/core/views/notebooks/notebooks.fourth.client.view.html'">Notebooks 4</button>
            </div>
            <div class="row subnavbar-nav">
                <button class="btn btn-warning" type="button" ng-click="notebooksTemplate.path = 'modules/core/views/notebooks/notebooks.fifth.client.view.html'">Notebooks 5</button>
                <button class="btn btn-danger" type="button" ng-click="notebooksTemplate.path = 'modules/core/views/notebooks/notebooks.sixth.client.view.html'">Notebooks 6</button>
            </div>
        </div>
    </div>
    <div class="notebooks-panels" data-ng-include="notebooksTemplate.path"></div>
</div>